{% load static %}
<!-- Include JavaScript resources -->
<script src="{% static 'js/jquery.1.8.3.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/featherlight.min.js' %}"></script>
<script src="{% static 'js/featherlight.gallery.min.js' %}"></script>
<script src="{% static 'js/jquery.enllax.min.js' %}"></script>
<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/jquery.stickyNavbar.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/images-loaded.min.js' %}"></script>
<script src="{% static 'js/lightbox.min.js' %}"></script>
<script src="{% static 'js/site.js' %}"></script>