{% load static %}
<!--Footer-->
<footer id="landing-footer" class="clearfix">
    <div class="row clearfix">

        <p id="copyright" class="col-2">Made by <a href="#">SalarSaraei</a></p>

        <!--Social Icons in Footer-->
        <ul class="col-2 social-icons">
            <li>
                <a target="_blank" title="Facebook" href="https://www.facebook.com/salar.saraei">
                    <i class="fa fa-facebook fa-1x"></i><span>Facebook</span>
                </a>
            </li>
            <li>
                <a target="_blank" title="GitHub" href="http://www.github.com/swlrx08">
                    <i class="fa fa-github" aria-hidden="true"></i>
                    <span>github</span>
                </a>
            </li>
            <li>
                <a target="_blank" title="Instagram" href="http://www.instagram.com/salar.saraei">
                    <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
                </a>
            </li>
            <li>
                <a target="_blank" title="support" href="http://goftino.com/c/qD3T6V">
                    <i class="fa fa-weixin" aria-hidden="true"></i><span>support</span>
                </a>
            </li>
        </ul>
        <!--End of Social Icons in Footer-->
    </div>
</footer>
<!--End of Footer-->