{% load static %}
    <header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
        <div id="header" class="nav-collapse">
            <div class="row clearfix">
                <div class="col-1">

                    <!--Logo-->
                    <div id="logo">

                        <!--Logo that is shown on the banner-->
                        <img src="{% static 'images/SWLRX.webp' %}" id="banner-logo" alt="Landing Page"/>
                        <!--End of Banner Logo-->

                        <!--The Logo that is shown on the sticky Navigation Bar-->
                        <img src="{% static 'images/SWLRX.webp' %}" id="navigation-logo" alt="Landing Page"/>
                        <!--End of Navigation Logo-->

                    </div>
                    <!--End of Logo-->

                    <aside>

                        <!--Social Icons in Header-->
                        <ul class="social-icons">
                            <li>
                                <a target="_blank" title="Facebook" href="https://www.facebook.com/salar.saraei">
                                    <i class="fa fa-facebook fa-1x"></i><span>Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" title="GitHub" href="http://www.github.com/swlrx08">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                    <span>github</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" title="Instagram" href="http://www.instagram.com/salar.saraei">
                                    <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" title="support" href="http://goftino.com/c/qD3T6V">
                                    <i class="fa fa-weixin" aria-hidden="true"></i><span>support</span>
                                </a>
                            </li>
                        </ul>
                        <!--End of Social Icons in Header-->

                    </aside>

                    <!--Main Navigation-->
                    <nav id="nav-main">
                        <ul>
                            <li>
                                <a href="#banner">Home</a>
                            </li>
                            <li>
                                <a href="#about">About Me</a>
                            </li>
                            <li>
                                <a href="#gallery">Documents</a>
                            </li>
                             <li>
                                <a href="#Projects">Projects</a>
                            </li>
                            <li>
                                <a href="#services">Services</a>
                            </li>

                            <li>
                                <a href="#contact">Contact me</a>
                            </li>
                        </ul>
                    </nav>
                    <!--End of Main Navigation-->

                    <div id="nav-trigger"><span></span></div>
                    <nav id="nav-mobile"></nav>

                </div>
            </div>
        </div><!--End of Header-->

        <!--Banner Content-->
        <div id="banner-content" class="row clearfix">

            <div class="col-38">

                <div class="section-heading">
                    <h1>THERE IS A PLACE FOR LOVE IN THE BRAIN OF ALL PEOPLE</h1>
                    <h2>Only the programmer stored code in all the cells of his brain...</h2>
                </div>

                <!--Call to Action-->
                <a href="#" class="button">WELCOME TO MY LAND</a>
                <!--End Call to Action-->

            </div>

        </div><!--End of Row-->
    </header>
